<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styling/classes.css" />
        <link rel="stylesheet" href="/styling/items.css" />
        <!--favicon -->
        <link rel="apple-touch-icon" sizes="96x96" href="/favicon/icons8-stern-gefüllt-pastel-96.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/icons8-stern-gefüllt-pastel-32.png">
        <title>Loggo</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <b>{{.timestamp}}</b>
    </body>
</html>

